<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav id="main-nav">
    <div>
        <a href="./celebrities/">See all celebrities</a>
        <a href="./celebrities/new">Add a new celebrity</a>
    </div>
    <div>
        <a href="./movies/">See all movies</a>
        <a href="./movies/new">Add a new movie</a>
    </div>
</nav>